.App {
  background-image: url(./assest/bg.jpg);
  text-align: center;
  height: 100%;
  position: relative;
  .App-header {
    min-height: 15vh;
    color: white;
  }
  .app-body{
    height: 100vh;
  }
  .textBody{
    color: #ffffff;
    text-transform: uppercase;
    font-size: 24px;
    @media screen and (max-width: 320px){
      font-size: 22px;
    }
  }
  .appLogo{
    float: left;
    vertical-align: middle;
    width: 120px;
    height: 70px;
  }
  .appBadge{
    float: right;
    position: -webkit-sticky;
    position: sticky;
    margin-top: -3px;
    width: 100px;
    height: 100px;
    margin-right: 25px;
  }
  .textBox{
    text-align: center;
  }
  .virusContainer{
    position: relative;
    text-align: center;
    color: white;
  }
  .virusText {
    position: absolute;
    font-weight: bold;
    margin: 130px 0 0 90px;
    font-size: 11px;
    text-transform: uppercase;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
}
  .scan{
    margin-top: 150px;
  }
  .virusLine{
    position: absolute;
    margin: auto;
    width: 200px;
    border: 2px solid red;
    left: 0;
    right: 0;
    top: 155px
  }
  .virusProg{
    position: absolute;
    font-weight: bold;
    margin: auto;
    font-size: 24px;
    text-transform: uppercase;
    left: 0;
    right: 0;
    top: 140px;
  }
  .scanPeriod{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .freeText{
    color: #ffffff;
    margin-right: 5px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
  }
  .scanBtn{
    background-color: #00b500;
    border-radius: 5px;
    width: 280px;
    height: 50px;
    border: 0;
    cursor: pointer;
  }
  .iconDownload{    
    height: 40px;
  }
  .scanBox{
    background: rgba(0, 0, 0, 0.8);
    position: relative;
    top: -172px;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100vh;
  }
  .rowText{
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 800px;
    margin: auto;
  }
  .infName{
    color: #ffffff;
    display: block;
    margin: auto;
    text-align: left;
  }
  .infNum{
    color: #ffffff;
    display: block;
    margin: auto;
  }

}

.mainNav{
  margin: 0;
  background-color: aqua;
  list-style-type: none;
  .routLinks{
    color: #ffffff;
    font-size: 14px;
    margin-right: 10px;
    text-decoration: none;
  }
}
.modal-container{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  .modal{
    border-radius: 8px;
    width: 90%;
    height: 300px;
    background-color: #fff;
    margin: auto;
    margin-top: 100px;
    position: relative;
    @media screen and (max-width: 769px){
      height: 340px;
    }
    .send-sms{
      position: absolute;
      width: 100%;
      margin: auto;
      left: 0;
      right: 0;
      top: -70px;
      text-align: center;
      color: #fff;
      font-weight: 700;
      font-size: 18px;
      @media screen and (max-width: 426px){
        font-size: 14px;
      }
    }
    .gift{
      position: absolute;
      width: 200px;
      margin: auto;
      left: 0;
      right: 0;
      top: -30px;
      img{
        width: 100%;
      }
    }
    span{
      font-size: 24px;
      padding: 15px;
      display: block;
      font-weight: 700;
      text-align: center;
      color: #000000;
      margin: auto;
      margin-top: 50px;
    }
    .download-num{
      position: absolute;
      width: 100%;
      margin: auto;
      left: 0;
      right: 0;
      top: 350px;
      text-transform: uppercase;
      text-align: center;
      color: #bcbcbc;
      font-weight: 700;
      font-size: 18px;
    }
    .input-contianer{
      text-align: center;
      padding: 15px;
      label{
        text-align: center;
        font-weight: 700;
        font-size: 12px;
        @media screen and (max-width: 426px){
          text-align: left;
          display: block;
          margin-left: 35px;
        }
        @media screen and (max-width: 376px){
          margin-left: 15px;
        }
        @media screen and (max-width: 320px){
          margin-left: 0px;
        }
      }
      .input-wrapper{
        margin-top: 5px;
        position: relative;
        max-width: 290px;
        margin: auto;
        input{
          width: 150px;
          height: 48px;
          border-radius: 8px;
          border: solid 1px #000000;
          padding-left: 100px;
        }
        .logo-code{
          border: solid 1px #000000;
          position: absolute;
          background-color: #e5e5e5;
          width: 50px;
          height: 50px;
          border-top-left-radius: 8px;
          border-bottom-left-radius: 8px;
          display: flex;
          flex-direction:row;
          img{
            width: 30px;
            margin: 10px 10px 0 10px;
            height: 30px;
          }
          .code{
            font-size: 24px;
            color: #eee;
            margin: 8px 0 0 7px;
          }
        }
      }
    }
    .register{
      margin-top: 20px;
      background-color: #00b500;
      border-radius: 5px;
      width: 280px;
      height: 50px;
      border: 0;
      cursor: pointer;
      color: #fff;
      display: block;
      font-weight: 700;
      font-size: 16px;
      text-transform: uppercase;
      margin: 20px auto;
      @media screen and (max-width: 376px){
        width: 250px;
      }
    }
    input[type="text"] {
      width: 200px;
      height: 25px;
      padding-right: 50px;
  }
  
  input[type="submit"] {
      margin-left: -53px;
      height: 25px;
      width: 50px;
      background: #00b500;
      color: white;
      border: 0;
      border-radius: 20px;
      cursor: pointer;
      -webkit-appearance: none;
  }
  .iconAttach{
    height: 15px;
    position: absolute;
    margin: 9px 0 0 5px;
  }
  .iconHappy{
    height: 15px;
    position: absolute;
    margin: 9px 0 0 -70px;
  }
  }
}