.App {
  background-image: url(./assest/bg.jpg);
  text-align: center;
  height: 100%;
  .App-header {
    min-height: 15vh;
    color: white;
  }
  .app-body{
    height: 100vh;
  }
  .textBody{
    color: #ffffff;
    text-transform: uppercase;
    margin: auto;
    font-size: 26px;
  }
  .textBody2{
    color: #ffffff;
    text-transform: uppercase;
    margin: auto;
    font-size: 20px;
    @media screen and (max-width: 320px){
      font-size: 17px;
    }
  }
  .appLogo{
    float: left;
    vertical-align: middle;
    width: 120px;
    height: 70px;
  }
  .appBadge{
    float: right;
    position: -webkit-sticky;
    position: sticky;
    margin-top: -3px;
    width: 100px;
    height: 100px;
    margin-right: 25px;
  }
  .textBox{
    text-align: center;
  }
  .virusContainer{
    position: relative;
    text-align: center;
    color: white;
  }
  .virusText {
    position: absolute;
    font-weight: bold;
    margin: 130px 0 0 90px;
    font-size: 11px;
    text-transform: uppercase;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
}
  .scan{
    margin-top: 150px;
  }
  .virusImg{
    position: absolute;
    margin: 90px 0px 0px 140px;
  }
  .scanPeriod{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .freeText{
    color: #ffffff;
    margin-right: 5px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
  }
  .freeTime{
    color: #ff6900;
    font-weight: bold;
    font-size: 24px;
  }
  .scanBtn{
    background-color: #00b500;
    border-radius: 5px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    width: 280px;
    height: 50px;
    border: 0;
    cursor: pointer;
  }
  .iconDownload{    
    height: 40px;
  }
  .scanBox{
    background: rgba(0, 0, 0, 0.8);
    position: relative;
    top: -172px;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100vh;
  }
  .downNum{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 88px;
  }
  .recenNum{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 50px;
  }
  .downImg{
    margin-top: 15px;
    min-width: 80px;
  }
  .downSmall{
    color: #ffffff;
    margin-left: -40px;
  }
  .recenSmall{
    color: #ffffff;
    margin-left: -37px;
  }
  .downText{
    color: #ffffff;
    font-weight: bold;
    margin-bottom: -5px;
  }
  .recenImg{
    margin-top: 15px;
    min-width: 80px;
  }
}